# Skopiuj ten plik jako .env i uzupełnij wartości
DISCORD_TOKEN=twoj_token_tutaj
ALPHA_VANTAGE_KEY=twoj_klucz_tutaj
YOUTUBE_API_KEY=twoj_klucz_tutaj
TWITCH_CLIENT_ID=twoj_client_id_tutaj
TWITCH_CLIENT_SECRET=twoj_secret_tutaj
GENERAL_CHANNEL_ID=id_kanalu_tutaj
YOUTUBE_CHANNEL_HANDLE=@twoj_kanal
TWITCH_CHANNEL=twoja_nazwa
